@media (max-width: 375px) {
  .swiper-slide {
    height: 100vh; /* Ensure the swiper takes up the full height on iPhone SE */
  }

  .next-button {
    bottom: 20px; /* Adjust button positioning */
  }

  /* Adjust margin-top for smaller devices */
  .pt-6 {
    padding-top: 0;
  }
}
